a {color:#3aafa9;}
a:hover {color:#3aafa9;}
#wpes-sidebar-links {max-height: 100vh;overflow-y: auto;z-index: 1021;}
a.text-white:hover, a.text-white:focus { text-decoration: underline; }
code.hljs { padding: 0.5rem 2rem; }
pre { position: relative; }
.overflow-hidden {overflow: hidden;}
.wpes-header .navbar {padding: 0.5rem 0.3rem;}
.bg-dark {background: #3aafa9 !important;}
.wpes-custom-ad .figure-caption {max-width: 260px;}
